In [5]:
# ðŸ”¹ Step 1: Load existing trend data and check the latest date

import pandas as pd
from pytrends.request import TrendReq
from datetime import datetime
import pandas as pd

In [17]:
# Path to your existing global trends file
existing_path = "../data/streamlit/global_trend_summary.csv"

In [18]:
# Load the dataset
df_existing = pd.read_csv(file_path, parse_dates=["date"])

In [4]:
# Preview and check latest date
df_existing.sort_values("date", ascending=False).head(1)

           date     keyword  search_interest
1309 2025-07-27  yoga nidra                3

In [6]:
# Define keywords and timeframe
keywords = ["meditation", "mindfulness", "breathwork", "guided meditation", "yoga nidra"]
start_date = "2025-08-03"  # One day after last entry
end_date = datetime.today().strftime("%Y-%m-%d")  # Today

In [7]:
# Initialize pytrends
pytrends = TrendReq(hl='en-US', tz=360)

In [8]:
# Store results
all_data = []

In [9]:
for kw in keywords:
    pytrends.build_payload([kw], cat=0, timeframe=f"{start_date} {end_date}", geo="", gprop="")
    df_kw = pytrends.interest_over_time()
    
    if not df_kw.empty:
        df_kw = df_kw.reset_index()
        df_kw = df_kw[["date", kw]]
        df_kw = df_kw.rename(columns={kw: "search_interest"})
        df_kw["keyword"] = kw
        all_data.append(df_kw)

/Users/saayedalam/jupyterlab-env/lib/python3.13/site-packages/pytrends/request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)
/Users/saayedalam/jupyterlab-env/lib/python3.13/site-packages/pytrends/request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)
/Users/saayedalam/jupyterlab-env/lib/python3.13/site-packages/pytrends/request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)
/Users/saayedalam/jupyterlab-env/lib/python3.13/site-packages/pytrends/request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)
/Users/saayedalam/jupyterlab-env/lib/python3.13/site-packages/pytrends/request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)

In [10]:
df_new = pd.concat(all_data, ignore_index=True)

In [11]:
df_new = df_new[["date", "keyword", "search_interest"]]

In [12]:
df_new = df_new[df_new["date"] > pd.to_datetime("2025-07-27")]

In [13]:
df_new.tail()

         date     keyword  search_interest
60 2025-08-11  yoga nidra               84
61 2025-08-12  yoga nidra               85
62 2025-08-13  yoga nidra              100
63 2025-08-14  yoga nidra               99
64 2025-08-15  yoga nidra               88

In [14]:
df_new["date"].min(), df_new["date"].max(), df_new.shape

(Timestamp('2025-08-03 00:00:00'), Timestamp('2025-08-15 00:00:00'), (65, 3))

In [15]:
# ðŸ§® Combine and deduplicate
df_combined = pd.concat([df_existing, df_new], ignore_index=True)
df_combined = df_combined.drop_duplicates(subset=["date", "keyword"]).sort_values(by=["keyword", "date"])

In [19]:
# ðŸ’¾ Save updated dataset
df_combined.to_csv(existing_path, index=False)

In [20]:
# âœ… Confirmation
print("âœ… Dataset updated and saved:", df_combined.shape)
df_combined.tail(10)

âœ… Dataset updated and saved: (1375, 3)

           date     keyword  search_interest
1365 2025-08-06  yoga nidra               93
1366 2025-08-07  yoga nidra               88
1367 2025-08-08  yoga nidra               85
1368 2025-08-09  yoga nidra               82
1369 2025-08-10  yoga nidra               86
1370 2025-08-11  yoga nidra               84
1371 2025-08-12  yoga nidra               85
1372 2025-08-13  yoga nidra              100
1373 2025-08-14  yoga nidra               99
1374 2025-08-15  yoga nidra               88